<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Consultas</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>	


</head>

<body>
	
<div class="container" >
	<h1>Consultas</h1>
	

	
			<form th:action="@{/consulta1}" method="get" class="mb-2">
			<label for="codVeterinario">Código del Vet : </label>
			<input type="text" name="codVeterinario" id="codVeterinario" required>
			<label for="fecha">Fecha de la cita: </label>
			<input type="date" name="fecha_cita" id="fecha_cita">
			<button type="submit" class="btn btn-primary">Buscar</button>
			</form>
	
	<table  class="table" >
		<thead>
			<tr>
				<th>Cliente</th>
				<th>Mascota</th>
				<th>fecha</th>
				<th>Hora</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cons : ${listadocons}">
            <td th:text="${cons.cliente.nombres}"></td>
            <td th:text="${cons.mascota.nombre_mascota}"></td>
            <td th:text="${cons.fecha_cita}"></td>
            <td th:text="${cons.hora_cita}"></td>
		</tbody>
		
	</table>

</div>

<div class="container">
 <h1>Consulta Total Venta Por Dia</h1>
 
 
 <form th:action="@{/consulta2}" method="get" class="mb-2">
    <label for="fechacons">Fecha:</label>
    <input type="date" name="fecha" id="fecha">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

 
 	
	<table  class="table">
		<thead>
			<tr>
				<th>Fecha del Pago</th>
				<th>Total Recaudado</th>
			</tr>
		</thead>
 		<tr th:each="resultado : ${consultas}">
            <td th:text="${resultado[0]}"></td>
            <td th:text="${resultado[1]}"></td>
        </tr>
		<tbody>

		</tbody>
		
	</table>
 
</div>

</body>
<script>
	/*
    $(document).ready(function () {
        $("button.btn-primary").click(function (e) {
            e.preventDefault(); // Evitar la recarga de la página

            var codVeterinario = $("#codVeterinario").val();
			var fecha_cita = $("#fecha_cita").val();
            $.ajax({
                url: "/listadodecitas",
                type: "GET",
                data: { codVeterinario: codVeterinario ,fecha_cita:fecha_cita},
                success: function (response) {

                    // Actualizar la tabla de historias médicas
                    var consultTable = $("table tbody");
                    consultTable.empty(); // Limpiar la tabla

                    if (response.consultascitas.length > 0) {
                        response.consultascitas.forEach(function (cons) {
                            consultTable.append("<tr><td>" + cons.cliente.nombres +
												 "</td><td>" + cons.mascota.nombre_mascota +
												 "</td><td>" + cons.fecha_cita +
												 "</td><td>" + cons.hora_cita +
												 "</td></tr>");
                        });
                    } else {
                        consultTable.append("<tr><td colspan='4'>No se encontraron consultas.</td></tr>");
                    }
                },
  
            });
        });
    });
    */
    

    
</script>

</html>