<div th:fragment="content">
<!-- Content Header (Page header) -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Listado de Mascotas</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/inicio"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:">Mascotas</a></li>
                    <li class="breadcrumb-item"><a href="javascript:">Listado</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->

<!-- Hoverable rows start -->

<div class="main-body">
    <div class="page-wrapper">
        <div class="row">

            <!-- [ striped-table ] start -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block table-border-style">                 
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
					    			<tr>
										<th scope="col" class="text-center">Codigo</th>
										<th scope="col" class="text-center">Foto</th>
										<th scope="col">Nombre</th>
					    				<th scope="col">Especie</th>
					    				<th scope="col">Raza</th>
					    				<th scope="col">Sexo</th>
					    				<th scope="col" class="text-center">Fecha de Nacimiento</th>
					    				<th scope="col">Peso</th>
					    				<th scope="col">Dueño</th>
					    				<th></th>
					    				<th></th>
					    			</tr>
					    		</thead>
					    		<tbody>
								    <tr th:each="m : ${lstMascotas}">
								        <td th:text="${m.codMascota}" class="text-center align-middle"></td>
								        <td>
										    <img th:src="@{'/imagenes/mascotas/' + ${m.foto_mascota}}" alt="Foto" class="img-thumbnail" style="width: 70px;" />
										</td>
								        <td th:text="${m.nombre_mascota}" class="align-middle"></td>
								        <td th:text="${m.especie.nombre_especie}" class="align-middle"></td>
								        <td th:text="${m.raza.nombre_raza}" class="align-middle"></td>
								        <td th:text="${m.sexo}" class="align-middle"></td>
								        <td th:text="${#dates.format(m.fecha_nacimiento, 'dd-MM-yyyy')}" class="text-center align-middle"></td>
								        <td th:text="${m.peso}" class="align-middle"></td>
								        <td th:text="${m.cliente.nombres + ' ' + m.cliente.apellidos}" class="align-middle"></td>
								        <td class="align-middle">
											<a class="btn btn-warning text-white" role="button">Editar</a>
					    				</td>
					    				<td class="align-middle"> 
											<button type="button" class="btn btn-danger deletebtn">Eliminar</button>
					    				</td>
								    </tr>
								</tbody>
                            </table>
                        </div>
                                              	
                    </div>
                </div>
            </div>           
            <!-- [ striped-table ] end -->

        </div>       
    </div>
</div>


<!-- Inicio del Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarModalLabel">Eliminar mascota</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      	<form th:action="@{/eliminar}" method="post">
	      <div class="modal-body">
			 <input type="hidden" name="codigo" id="codigo">
			 </span>&nbsp;<span id="nombreMascota"></span>
	      </div>
	      <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar </button>
	          <button type="submit" name="deletedata" class="btn btn-primary">Sí, eliminar</button>
	      </div>
	     </form>
    </div>
	</div>
</div>
<!-- Fin del Modal -->


<script>
	$(document).ready(function(){
		$('.deletebtn').on('click',function(){
			$('#eliminarModal').modal('show');
			$tr = $(this).closest('tr');
			var data = $tr.children("td").map(function(){
				return $(this).text();
			}).get();
			console.log(data);
			$('#codigo').val(data[0]);
			$('#nombreMascota').text("¿Está seguro de eliminar las mascota: "+ data[2]+"?");
		})
	});
</script>

<!-- Hoverable rows end -->
</div>
